<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de Reserva</title>
</head>
<body>
    <h1>¡Reserva Confirmada!</h1>
    <p>Hola,</p>
    <p>Tu reserva ha sido confirmada con los siguientes detalles:</p>
    <ul>
        <li>Nombre de la mascota: {{ reservation.pet_name }}</li>
        <li>Tamaño de la mascota: {{ reservation.pet_size }}</li>
        <li>Raza: {{ reservation.pet_breed }}</li>
        <li>Fecha de ingreso: {{ reservation.init_date }}</li>
        <li>Fecha de salida: {{ reservation.end_date }}</li>
        <li>Total a pagar: ${{ reservation.total }}</li>
    </ul>
    <p>Gracias por elegir Perriot Hotel. Estamos ansiosos de cuidar a tu mascota.</p>
</body>
</html>


