.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .gallery img {
    width: 100%;
    height: 200px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño definido sin deformarse */
    border-radius: 8px; /* Redondea las esquinas de las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para darle un efecto de profundidad */
  }
  