/* Botón de la navbar con efecto 3D */
.navbar-button {
  padding: 0.5rem 1rem;
  background-color: hwb(0 90% 0%);
  color: rgba(0, 0, 0, 0.658);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  margin-left: 1.5rem;
}

/* Efecto de elevación al pasar el mouse */
.navbar-button:hover {
  background-color: #43c8d1; /* Color al pasar el mouse */
  transform: translateY(-2px); /* Eleva ligeramente */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Incrementa la sombra */
}

/* Efecto de "presión" al hacer clic */
.navbar-button:active {
  transform: translateY(2px); /* Baja el botón para simular presión */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra */
}
.navbar-logo-img {
  height: 200px; /* Ajusta la altura según sea necesario */
  width: auto;  /* Mantiene la proporción */
  margin-right: 1rem;
}
.navbar-list li a {
  color: rgba(0, 0, 0, 0.658); /* Color del texto */
  text-decoration: dashed; /* Estilo del subrayado */
  font-weight: lighter;
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 5px; /* Esquinas redondeadas */
}


.navbar-list li a:hover {
  color: #80d1ff; /* Color al pasar el mouse */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: hwb(0 90% 0%);
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 3.5rem; /* Espaciado entre los elementos de la lista */
}

.navbar-right {
  margin-left: auto;
  display: flex;
  color: rgb(0, 0, 0);
}

.navbar-button2 {
  padding: 0.5rem 1rem;
  background-color: #ff3232; /* Color principal */
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  margin-left: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para el efecto 3D */
}

/* Efecto de elevación al pasar el mouse */
.navbar-button2:hover {
  background-color: #a81717; /* Color al pasar el mouse */
  transform: translateY(-2px); /* Eleva ligeramente */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Incrementa la sombra */
}