.reserve-form-wrapper{
    display: flex;
    justify-content: center;
}

.reserve-form{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    padding: 15px;
    background-color: hwb(0 99% 1%);
}

.form-check-label{
    font-size: 15px;
}

.reserve-form label{
    font-size: 20px;
}