.simulate-webpay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.simulate-webpay-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.simulate-webpay-modal-content h2 {
    margin-bottom: 20px;
}

.simulate-webpay-modal-content form {
    display: flex;
    flex-direction: column;
}

.simulate-webpay-modal-content label {
    margin: 10px 0 5px;
    text-align: left;
}

.simulate-webpay-modal-content input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.simulate-webpay-modal-buttons {
    display: flex;
    justify-content: space-between;
}

.simulate-webpay-cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.simulate-webpay-cancel-button:hover {
    background-color: darkred;
}
