.card-service-wrapper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    margin: 20px 5px;
}

.card-service-wrapper .card-header{
    justify-content: center;
    padding: 5px 20px ;
    font-weight: bold;
    color: #555;
    font-size: 18px;
}

.card-service-wrapper .card-body{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    margin: 10px;
}


.card-service-wrapper .card-image{
    display: flex;
    justify-content: center;
}

.card-service-wrapper .card-body .card-price{
    font-size: 20px;
    font-weight: bold;
}

.card-service-wrapper .card-info{
    font-size: 15px;
}